<!---->
<launch>
  <arg name="ublox_fix_topic" value="/ublox_f9k/fix"/>
  <arg name="uwb_fix_mode" value="2"/> <!-- 2 = 2D , 3 = 3D-->
  <arg name="ini_mode" value="3"/> <!--1 = manual, 2 = ublox, 3 = Once ublox updates, use ublox fix. Otherwise use UWB-->
  <arg name="ini_x" value="94373"/>
  <arg name="ini_y" value="208962"/>
  <arg name="ini_z" value="-3899"/>
  <arg name="weight_mode" value="2"/> <!--1 = manual, 2 = time-varied-->
  <arg name="enabled_anchor" value="1 0 0 0"/> <!-- 0 = disabled 1 = enabled, from 0th to 3rd-->
  <!-- Anchor location in b-frame-->
  <arg name="A0_x" value="0.00"/>
  <arg name="A0_y" value="0.05"/>
  <arg name="A0_z" value="0.43"/>

  <!-- HOLE 9 -->
  <arg name="T0_x" value="94316.6028646"/>
  <arg name="T0_y" value="209345.059231"/>
  <arg name="T0_z" value="-3894.70188964"/>
  <arg name="T1_x" value="94360.9233912"/>
  <arg name="T1_y" value="209341.588209"/>
  <arg name="T1_z" value="-3899.44665929"/>
  <arg name="T2_x" value="94376.7935465"/>
  <arg name="T2_y" value="209309.673042"/>
  <arg name="T2_z" value="-3902.01658183"/>
  <arg name="T3_x" value="94338.8928115"/>
  <arg name="T3_y" value="209298.406809"/>
  <arg name="T3_z" value="-3899.20538561"/>
  <!-- FRONT BUILDING -->
  <!-- <arg name="T0_x" value="94373.649762613131"/>
  <arg name="T0_y" value="208962.54429353986"/>
  <arg name="T0_z" value="-3884.8914466873539"/>
  <arg name="T1_x" value="94360.433734811988"/>
  <arg name="T1_y" value="208981.16681582195"/>
  <arg name="T1_z" value="-3885.1855102665577"/>
  <arg name="T2_x" value="94337.477304781249"/>
  <arg name="T2_y" value="208987.59769619163"/>
  <arg name="T2_z" value="-3884.8702571280446"/>
  <arg name="T3_x" value="94344.621897952587"/>
  <arg name="T3_y" value="208943.87629769527"/>
  <arg name="T3_z" value="-3884.6425924192299"/> -->

  <arg name="gnss_fix_type" value="0"/> <!-- 0:uwb , 1:ublox , 2:novatel-->
  <arg name="odometer" value="0"/> <!-- 0:off , 1:odometer, 2:GNSS speed-->
  <arg name="fix_mode" value="1"/> <!-- 0:test mode , 1:fusion mode-->
  <arg name="body_frame" value="0"/> <!-- 0:enu , 1:nwu-->
  <!-- GNSS Antenna in b-frame-->
  <arg name="antenna_x" value="0.00"/>
  <arg name="antenna_y" value="0.25"/>
  <arg name="antenna_z" value="0.43"/>

  <arg name="fusion_type" value="0"/> <!-- 0:uwb, 1:ublox, 2:novatel-->
  
  <node name="uwb_positioning" pkg="uwb" type="uwb_positioning" output="screen">
    <param name="ublox_fix_topic" value="$(arg ublox_fix_topic)"/>
    <param name="fix_mode" value="$(arg uwb_fix_mode)" type="int"/>
    <param name="ini_mode" value="$(arg ini_mode)" type="int"/>
    <param name="ini_x" value="$(arg ini_x)" type="double"/>
    <param name="ini_y" value="$(arg ini_y)" type="double"/>
    <param name="ini_z" value="$(arg ini_z)" type="double"/>
    <param name="weight_mode" value="$(arg weight_mode)" type="int"/>
    <param name="enabled_anchor" value="$(arg enabled_anchor)"/>
    <param name="A0_x" value="$(arg A0_x)" type="double"/>
    <param name="A0_y" value="$(arg A0_y)" type="double"/>
    <param name="A0_z" value="$(arg A0_z)" type="double"/>
    <param name="T0_x" value="$(arg T0_x)" type="double"/>
    <param name="T0_y" value="$(arg T0_y)" type="double"/>
    <param name="T0_z" value="$(arg T0_z)" type="double"/>
    <param name="T1_x" value="$(arg T1_x)" type="double"/>
    <param name="T1_y" value="$(arg T1_y)" type="double"/>
    <param name="T1_z" value="$(arg T1_z)" type="double"/>
    <param name="T2_x" value="$(arg T2_x)" type="double"/>
    <param name="T2_y" value="$(arg T2_y)" type="double"/>
    <param name="T2_z" value="$(arg T2_z)" type="double"/>
    <param name="T3_x" value="$(arg T3_x)" type="double"/>
    <param name="T3_y" value="$(arg T3_y)" type="double"/>
    <param name="T3_z" value="$(arg T3_z)" type="double"/>
  </node>
  <node name="ins" pkg="ins" type="main" output="screen">
    <param name="gnss_fix_type" value="$(arg gnss_fix_type)" type="int"/>
    <param name="odometer" value="$(arg odometer)" type="int"/>
    <param name="fix_mode" value="$(arg fix_mode)" type="int"/>
    <param name="body_frame" value="$(arg body_frame)" type="int"/>
    <param name="antenna_x" value="$(arg antenna_x)" type="double"/>
    <param name="antenna_y" value="$(arg antenna_y)" type="double"/>
    <param name="antenna_z" value="$(arg antenna_z)" type="double"/>
    <param name="A0_x" value="$(arg A0_x)" type="double"/>
    <param name="A0_y" value="$(arg A0_y)" type="double"/>
    <param name="A0_z" value="$(arg A0_z)" type="double"/>
  </node>
  <node name="eskf" pkg="eskf" type="main_eskf" output="screen">
    <param name="fusion_type" value="$(arg fusion_type)"/>
    <param name="antenna_x" value="$(arg antenna_x)" type="double"/>
    <param name="antenna_y" value="$(arg antenna_y)" type="double"/>
    <param name="antenna_z" value="$(arg antenna_z)" type="double"/>
    <param name="A0_x" value="$(arg A0_x)" type="double"/>
    <param name="A0_y" value="$(arg A0_y)" type="double"/>
    <param name="A0_z" value="$(arg A0_z)" type="double"/>
  </node>
</launch>
