<!---->
<launch>
  <arg name="fusion_type" value="0"/> <!-- 0:uwb, 1:ublox, 2:novatel-->
  <!-- GNSS Antenna in b-frame-->
  <arg name="antenna_x" value="0.00"/>
  <arg name="antenna_y" value="0.25"/>
  <arg name="antenna_z" value="0.43"/>
  <!-- Anchor location in b-frame-->
  <arg name="A0_x" value="0.00"/>
  <arg name="A0_y" value="0.05"/>
  <arg name="A0_z" value="0.43"/>
  
  <node name="eskf" pkg="eskf" type="main_eskf" output="screen">
    <param name="fusion_type" value="$(arg fusion_type)"/>
    <param name="antenna_x" value="$(arg antenna_x)" type="double"/>
    <param name="antenna_y" value="$(arg antenna_y)" type="double"/>
    <param name="antenna_z" value="$(arg antenna_z)" type="double"/>
    <param name="A0_x" value="$(arg A0_x)" type="double"/>
    <param name="A0_y" value="$(arg A0_y)" type="double"/>
    <param name="A0_z" value="$(arg A0_z)" type="double"/>
  </node>
</launch>